<!-- Author: Kevin Jahrens -->
<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
       
        <mat-form-field appearance="fill">
            <mat-label>Ausleihdatum</mat-label>
            <input
                placeholder="Bsp. 1.8.2008"
                matInput
                name="dateOfTicket"
                formControlName="dateOfTicket"
                [matDatepicker]="pickerDateOfTicket"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="pickerDateOfTicket"
                [disabled]="this.formGroup.disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateOfTicket></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Rückgabedatum</mat-label>
            <input
                matInput
                name="dateOfReturn"
                formControlName="dateOfReturn"
                [matDatepicker]="pickerDateOfReturn"
            />
            <mat-datepicker #pickerDateOfReturn></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Verlängerungen</mat-label>
            <input
                matInput
                type="text"
                name="extensions"
                formControlName="extensions"
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Späteste Abgabe</mat-label>
            <input
                matInput
                name="latestReturnDate"
                formControlName="latestReturnDate"
                [matDatepicker]="pickerLatestReturnDate"
            />
            <mat-datepicker #pickerLatestReturnDate></mat-datepicker>
        </mat-form-field>

        <div class="button-container">
            <button
                *ngIf="this.formGroup.disabled && ticket"
                type="button"
                (click)="onExtend()"
                mat-mini-fab
                color="primary"
                matTooltip="Verlängern"
            >
                <mat-icon>av_timer</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.disabled"
                type="button"
                (click)="onReturn()"
                mat-mini-fab
                color="warn"
                matTooltip="Zurückgeben"
            >
                <mat-icon>ticket_return</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="submit"
                [disabled]="formGroup.invalid"
                mat-mini-fab
                color="primary"
                matTooltip="Speichern"
            >
                <mat-icon>done</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="button"
                (click)="onCancel()"
                mat-mini-fab
                color="primary"
                matTooltip="Rückgängig"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</div>
